/*body*/
/*body*/
.container{
    width: 1000px;
    margin: auto;
}

/*header*/

/*center*/
.center{
    display: block;
}

.center .inputElement{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffaaee;
}

.header_input{
    width: 250px;
}

.header_text{
    width: auto;
    text-align: center;
}

.container{
    background-color: #FFFFAA;

}

.elementTable{
    display: flex;
    border-top: 2px solid black;
}

.img_element img{
    display: block;
    height: auto;
    width: 250px;
}


.dis_element{
    padding-top: 10px;
    display: block;
    justify-content: flex-start;
    width: 740px;
}

.description {
    list-style: square outside;
    padding-top: 5px;
    padding-left: 25px;
}


/*footer*/

